# =============================================
# Flutter & Dart
# =============================================
.dart_tool/
.build/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
coverage/
*.lock
!pubspec.lock

# =============================================
# Firebase / Secrets
# =============================================
lib/firebase_options.dart
service-account-key.json
.env
.env.local
.env.*.local
*.jks
*.keystore
android/key.properties
android/local.properties
android/app/google-services.json
/functions/

# Логи ошибок Kotlin
android/.kotlin/errors/


# Node зависимости
node_modules/

# =============================================
# IDE & OS
# =============================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# =============================================
# Platform artifacts
# =============================================
# Android
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Runner.xcworkspace

# Windows, Linux, MacOS
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
